
sCSS

/* General Body Styles */

nav {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px 20px;
    z-index: 1000;
}

/* Navigstion list */

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Navigation links */
nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: lightgray;
    border-radius: 5px;
}

body{
    background-color: rgb(192, 207, 255);
    color: gray;
    font-family: "cossette-titre", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;

}

nav {
    /*styles will go here*/
}
 nav ul {
    /*styles for the list of links */
 }
 nav ul li a {
    /*styles for each link */
 }

/* Headings */

h1 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:black;

}
h2 {
    font-size: 24px;
    color: #333333;
}
/* Sections */

section {
    margin: 20px 0;
    padding: 10px;

}

/*Experience list items */
#experience ul li {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    list-style-type: none;
}
/* Connect Links */
#connect a {
    color: #1a73e8;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #1a73e8;
    border-radius: 5px;
    margin-right: 5px;
}
#connect a:hover {
    background-color: #1a73e8;
    color: white;

}
/* About section alignment example */
#about {
    text-align: center;
}
